<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildFlavor</key>
	<string></string>
	<key>BuildMachineClangVersion</key>
	<string>Apple clang version 13.0.0 (clang-1300.0.29.3)</string>
	<key>BuildMachineOSBuild</key>
	<string>20G224</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.filesystems.util.procfs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>procfs</string>
	<key>CFBundlePackageType</key>
	<string>fs</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FSPersonalities</key>
	<dict>
		<key>ProcFS</key>
		<dict>
			<key>FSName</key>
			<string>Process File System</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_VERSION_MIN)</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>8.0b1</string>
	</dict>
</dict>
</plist>
